/** Gravity Forms */
@import "node_modules/bootstrap/scss/bootstrap";
@import "./src/shared/mixins/buttons";
@import "../../shared/variables.scss";
.gform_wrapper form {
  max-width: 450px;
  margin: 0 auto;
}

.gform_wrapper ul {
  @extend .list-unstyled;
  margin-left: 0;
}

.gform_wrapper li {
  @extend .form-group;

  label {
    display: none;
  }
}

.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $danger;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
  @extend .form-control;
  background: #bfd9e3;
  border: 1px solid #707070;
  border-radius: 4px;
}

.sidebar {
  .gform_wrapper input[type="email"],
  .gform_wrapper input[type="date"],
  .gform_wrapper input[type="datetime"],
  .gform_wrapper input[type="datetime-local"],
  .gform_wrapper input[type="month"],
  .gform_wrapper input[type="number"],
  .gform_wrapper input[type="password"],
  .gform_wrapper input[type="search"],
  .gform_wrapper input[type="tel"],
  .gform_wrapper input[type="text"],
  .gform_wrapper input[type="time"],
  .gform_wrapper input[type="week"],
  .gform_wrapper input[type="url"],
  .gform_wrapper select,
  .gform_wrapper textarea {
    background: #fff;
    border-radius: 0;
  }

  .gform_button {
    border: 1px solid #9eb025 !important;
    padding: 10px 0 !important;
    width: 100%;
  }
}

.gform_wrapper .button {
  @extend .btn;
  @extend .btn-primary;
  @include buttonSecondary();
  text-transform: uppercase;
}

.gform_wrapper .gfield_error,
.gform_wrapper .gravityform__field--error {
  .gfield_label {
    @extend .alert-danger;
    display: block;
    padding: 5px;
    border-radius: 5px;
  }

  input,
  select,
  textarea {
    @extend .alert-danger;
  }
}

.validation_error {
  @extend .alert;
  @extend .alert-danger;
}

.validation_message {
  display: none;
}

.gform_footer {
  display: flex;
  justify-content: center;
}
