@import "./src/shared/mixins/buttons";
@import "./src/shared/mixins/background-image";
.genericSection {
  color: #707070;
  padding: 5em 0;

  .verticalCenter {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  img {
    border: 1px solid #c1d72f;
  }

  .blueBorder img {
    border: 1px solid #00aeef !important;
  }

  h2 {
    color: #000;
    margin-top: 25px;

    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  p {
    strong {
      color: $primary-color;
    }
  }

  .buttonBottom {
    @media screen and (min-width: 1200px) {
      bottom: 0;
      margin-bottom: 0;
      position: absolute;
    }
  }

  .homeImg {
    @media screen and (min-width: 1200px) {
      margin-bottom: 47px;
    }
  }

  .mainBtn {
    @include buttonMain();
  }

  .secondaryBtn {
    @include buttonSecondary();
  }

  .mobileReverse {
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
  }
}

.breakSection {
  background-color: #c5d9e7;

  h2 {
    font-size: 28px;
  }
}

.section1 {
  padding: 1.4rem 0;

  @media screen and (max-width: 992px) {
    background: url(../images/hero-mobile.jpg) no-repeat !important;
    background-size: cover !important;

    &:before {
      background: #fff;
      background-image: unset !important;
      content: "";
      opacity: 0.75 !important;
      height: 100%;
      width: 100%;
    }

    &:after {
      display: none !important;
    }
  }

  .row {
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
    .text {
      color: #004987;

      @media screen and (min-width: 992px) {
        color: #0e79bf;
        max-width: 350px;
      }

      h1 {
        font-family: "Helvetica Neue Medium", sans-serif;
        font-size: 32px;
        line-height: 2.7rem;
      }

      p {
        color: #54565a;

        @media screen and (min-width: 992px) {
          color: #707070;
        }
      }
    }

    .heroForm {
      align-content: center;
      align-self: center;
      background: rgb(0, 117, 221);
      background: linear-gradient(
        180deg,
        rgba(0, 117, 221, 0.7) 0%,
        rgba(0, 84, 158, 0.7) 53%,
        rgba(0, 60, 113, 0.7) 100%
      );
      border: 1px solid #fff;
      border-radius: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto 35px auto;
      max-width: 350px;
      padding: 25px 0;
      text-align: center;

      h3 {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .gravityForm {
        padding: 0 25px;
      }

      @media screen and (min-width: 992px) {
        margin: 0 0 0 auto;
      }

      p {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;

        a {
          color: #fff;
          font-weight: bold;
        }

        small {
          text-transform: none;
        }
      }

      input {
        border: 1px solid #fff !important;
        border-radius: 5px;

        &:hover {
          border: 1px solid #fff !important;
        }
      }

      button {
        font-weight: bold;
        width: 100%;
      }
    }
  }
}

.section2 {
  li {
    display: flex;
    list-style: none;
    margin: 20px 0;

    &:before {
      background-image: url(../images/checkbox.jpg);
      background-size: cover;
      content: "";
      display: inline-block;
      height: 25px;
      margin-right: 10px;
      width: 25px;
    }
  }
}

.insurances {
  display: grid;
  gap: 1em;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  margin: 2em 0;

  &::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .insuranceItem {
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border: none;
    max-width: 400px;
    width: 100%;
  }
}

.testimonialSlider {
  color: #00aeef;
  font-size: 25px;

  p {
    padding: 0 1em;

    .author {
      color: $gray;
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-top: 25px;
    }
  }
}

.callOut {
  background: rgb(0, 174, 239);
  background: linear-gradient(
    103deg,
    rgba(14, 121, 191, 1) 0%,
    rgba(0, 174, 239, 1) 100%
  );
  color: #fff;
  font-size: 24px;
  padding: 1em 0;
}

.lightBack {
  background-color: #fbfbfb;
}

.contactSection {
  padding: 150px 0;

  .formContainer {
    background: rgb(0, 117, 221);
    background: linear-gradient(
      180deg,
      rgba(0, 117, 221, 0.8) 0%,
      rgba(0, 84, 158, 0.8) 53%,
      rgba(0, 60, 113, 0.8) 100%
    );
    border-radius: 10px;
    color: #fff;
    margin: auto;
    max-width: 500px;
    padding: 50px 30px;

    h2 {
      text-align: center;
      color: #fff;
      font-weight: bold;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    p {
      font-size: 24px;
      text-align: center;
    }

    a {
      color: #fff;
    }
  }
}

.noBorder {
  margin: auto;
  max-width: 1200px;

  img {
    border: none !important;
    margin: auto;
  }
}
