@import "../../shared/variables.scss";

.page-header {
  height: 150px;
  background-color: $brighter-primary;
  display: flex;
  align-items: center;

  @media screen and (min-width: 767px) {
    height: 100px;
  }

  h1 {
    color: #fff;
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
